<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
        <app-desktop *ngIf="isDesktop" (imageDataEmitter)="receiveImageData($event)"></app-desktop>  
        <app-mobile *ngIf="isMobile || isTablet" (imageDataEmitter)="receiveImageData($event)"></app-mobile>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <img *ngIf="imageUrl" class="userImage" [src]="imageUrl" />
    </div>

    <div class="col-12 d-flex justify-content-center">
        <a 
          mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect 
          *ngIf="imageUrl" [href]="imageUrl" download> 
          Išsaugoti
      </a>
    </div>


    
  </div>
</div>


